            @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
            /* utilities */
            
            body {
                font-family: 'Poppins', sans-serif;
                margin: 0;
                padding: 0;
            }
            /* header */
            
            .web-head {
                background-color: #2d25a0;
                height: 530px;
            }
            
            .head {
                display: flex;
                justify-content: space-between;
                padding-top: 60px;
            }
            
            .head>div {
                padding: 0 138px;
            }
            
            .title {
                height: 485px;
                width: 230px;
            }
            
            .title h1 {
                color: white;
                font-size: 50px;
                font-weight: 800;
                margin-top: 5px;
                margin-bottom: 15px;
            }
            
            .title a {
                text-decoration: none;
                color: white;
                font-size: 20px;
                padding: 8px 30px;
                border-radius: 10px;
                background-color: #e02c6d;
                transition: 0.3s;
                transition-delay: 0.1s;
            }
            
            .title a:hover {
                border: 2px solid #e02c6d;
                border-radius: 10px;
                color: #e02c6d;
                background-color: #2d25a0;
            }
            
            .title i {
                padding-left: 16px;
            }
            
            .web-head img {
                width: 556.01px;
                height: 438px;
            }
            /* players section */
            
            .players {
                margin-top: 70px;
                margin-left: 10%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-row-gap: 27px;
                width: 1090px;
            }
            
            .player {
                width: 330px;
                height: 474px;
                box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
            }
            
            .player div {
                padding: 15px;
            }
            
            .player img {
                width: 300px;
                height: 256px;
            }
            
            .player h3 {
                margin-top: 0;
            }
            /* flags */
            
            .flags,
            .copa-vedios {
                margin-top: 60px;
                margin-left: 10%;
            }
            
            .groups img {
                height: 65px;
                width: 97px;
            }
            
            .country,
            .groups {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
            /* Extreme moments vedios */
            
            .vedios {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
            
            .vedios iframe {
                width: 350px;
                height: 200px;
            }
            /* last part */
            
            .last-logo {
                display: flex;
                margin-top: 80px;
                flex-direction: column;
                align-items: center;
            }
            
            .last-logo img {
                width: 270px;
                height: 80px;
            }
            
            .icon {
                font-size: 30px;
            }
            
            .icon a {
                margin: 0 20px;
                background-color: lightgray;
                padding: 0px 8px;
                border-radius: 50%;
            }
            /* footer */
            
            footer {
                display: flex;
                justify-content: center;
            }
            
            @media only screen and (max-width: 480px) {
                /* body {
                width: 90%;
            } */
                .web-head {
                    height: 770px;
                }
                .head {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .head>div {
                    padding: 0;
                }
                .title {
                    height: 410px;
                    width: 290px;
                }
                .web-head img {
                    width: 329px;
                    height: 259.17px;
                }
                /* players */
                .players,
                .groups,
                .vedios {
                    display: flex;
                    flex-direction: column;
                }
            }
            
            @media only screen and (max-width: 500px) {
                .web-head {
                    width: 100%;
                    height: 740px;
                }
                .head {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                }
                .head>div:nth-child(1) {
                    padding-bottom: 170px;
                }
                .title {
                    width: 278px;
                    height: 138px;
                }
                .head img {
                    width: 329px;
                    height: 259.17px;
                }
                /* players */
                .players,
                .groups,
                .vedios {
                    width: 95%;
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                }
                .players {
                    width: 300px;
                    margin-left: 5%;
                }
                .head>div {
                    padding: 0 0px;
                }
                .vedios iframe {
                    width: 300px;
                    height: 170px;
                }
                .title h1 {
                    color: white;
                    font-size: 37px;
                    font-weight: 800;
                    margin-top: 5px;
                    margin-bottom: 15px;
                }
                .icon {
                    font-size: 20px;
                }
            }